* {
    font-family: 'Founders Grotesk';
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#media video {
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text {
    padding: 50px 150px;
    border-radius: 8px;
    color: #caff8a;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: saturate(180%) blur(5px);
    border: 1px solid white;
    margin-bottom: 50px;
    resize: none;
    width: 1000px;
    height: 500px;
}

#escolha {
    color: #caff8a;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 20px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#buttons button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    font-size: 20px;
}